/* ================================================== */
/* TAG Grid - @julioghisloti                          */
/* ================================================== */

//Comp
._col{
	float: left;
	padding: 1%;
	position: relative;
}

._center{
	float: none;
	margin-left: auto !important;
	margin-right: auto !important; 
	position: relative;
}

._left{
	left: 0;
	position: absolute;
	text-align: left;
}

._right{
	right: 0;
	position: absolute;
	text-align: right;
}

//No Margin ------------------------------------
	
	//-- nomargin	
	._nm{margin: 0% !important;}

	//-- no margin top
	._n-mt{margin-top: 0% !important;}

	//-- no margin right
	._n-mr{margin-right: 0% !important;}

	//-- no margin bottom
	._n-mb{margin-bottom: 0% !important;}

	//-- no margin left
	._n-ml{margin-left: 0% !important;}
//

//No Padding ------------------------------------

	//-- no padding	
	._np{padding: 0% !important;}

	//-- no padding top
	._n-pt{padding-top: 0% !important;}

	//-- no padding right
	._n-pr{padding-right: 0% !important;}

	//-- no padding bottom
	._n-pb{padding-bottom: 0% !important;}

	//-- no padding left
	._n-pl{padding-left: 0% !important;}
//

//Sizes
.__100pc{
	margin: 0.5%;
	width: 97%;
	max-width: 1700px;
}

.__90pc{
	margin: 0.5%;
	width: 87%;
	max-width: 1500px;
}

.__80pc{
	margin: 0.5%;
	width: 77%;
	max-width: 1200px;
}

.__70pc{
	margin: 0.5%;
	width: 67%;
}

.__60pc{
	margin: 0.5%;
	width: 57%;
}

.__50pc{
	margin: 0.5%;
	width: 47%;
}

.__40pc{
	margin: 0.5%;
	width: 37%;
}

.__30pc{
	margin: 0.5%;
	width: 27%;
}

.__20pc{
	margin: 0.5%;
	width: 17%;
}